@{
  ViewData["Title"] = "Login";
}

<section>
  <form class="flex flex-col">
    <div>
      <label class="block">Nome de usuário</label>
      <input class="border-2 border-gray-700" type="text"/>
    </div>
    <div>
      <label class="block">Senha</label>
      <input class="border-2 border-gray-700" type="text"/>
    </div>
    <button class="text-black border-2 border-gray-700 self-start mt-3" type="submit">
      Fazer Login
    </button>
  </form>
</section>