@{
  ViewData["Title"] = "NR Log";
}

<div>
  <!-- Subheader -->
  <section class="bg-gray-100 text-center">
    @{
        if(ViewData["Login"] != null) {
        <h1 class="text-[1.6rem] lg:text-[2rem] text-gray-700">Olá <span>@ViewData["Login"]</span>, Bem vindo à <span class="italic font-bold">NR Log</span></h1>
      }
      else
      {
        <h1 class="text-[1.6rem] lg:text-[2rem] text-gray-700">Olá, Bem vindo à <span class="italic font-bold">NR Log</span></h1>        
      }
    }
    @if(ViewData["Login"] != null)
    {
      <form method="post" asp-controller="Home">
        <input type="submit" id="btnRemove" formaction="@Url.Action("DeleteSession")" class="text-2xl underline hover:cursor-pointer text-gray-700" value="Sair"/>
      </form>
    }
  </section>

  <!-- About -->
  <section class="text-center py-6 text-white px-10 sm:px-20 lg:px-60 bg-gray-100">
    <h1 class="text-[1.8rem] text-gray-700 lg:text-[2.2rem] mb-4">
      Somos a maior do Brasil
    </h1>
    <h1 class="text-xl text-gray-700">
      Desde 2007 no mercado, somos referência nacional de qualidade na prestação
      de serviços, tanto no quesito de qualidade quanto de rapidez, sendo uma
      das poucas empresas brasileiras a entregarem as encomendas no mesmo dia da
      realização de um pedido! Atualmente, estamos em processo de expansão
      internacional, para mostrarmos ao mundo quem realmente somos!
    </h1>
  </section>

  <!-- Fleet -->
  <section>
    <div class="bg-gray-700">
      <h1 class="text-white text-center pt-3 text-[2.25rem]">Nossa Frota</h1>
      
      <div class="flex px-8 py-6 justify-center items-center lg:items-stretch flex-col lg:flex-row">
        <div class="max-w-[600px] lg:max-w-[400px] rounded-tl-xl rounded-tr-xl p-6 lg:rounded-tr-none lg:rounded-bl-xl bg-blue-500">
          <h1 class="text-2xl text-white">Boeing 737-800F</h1>
          <h1 class="text-white">Para os voos cargueiros domésticos, operamos com uma frota de 15 Boeing 737-800F, capaz de carregar até aproximadamente 24 toneladas. São os responsáveis pelas entregas no mesmo dia</h1>
        </div>
        <div class="max-w-[600px] lg:max-w-[400px]">
          <img class="max-w-[100%] lg:rounded-tr-xl rounded-bl-xl lg:rounded-bl-none rounded-br-xl" src="img/airplane2.jpg" alt="fleet-image" />
        </div>
      </div>
    
      <div class="flex px-8 py-6 justify-center items-center lg:items-stretch flex-col lg:flex-row">
        <div class="max-w-[600px] lg:max-w-[400px] rounded-tl-xl rounded-tr-xl p-6 lg:rounded-tr-none lg:rounded-bl-xl bg-blue-500">
          <h1 class="text-2xl text-white">Boeing 767-300F</h1>
          <h1 class="text-white">E para as rotas mais longas, ou seja, de maior distância e duração, utilizamos os Boeing 767-300F, com este sendo capaz de carregar até aproximadamente 58 toneladas de carga, permitindo com que seja concretizado o nosso plano de expansão internacional.</h1>
        </div>
        <div class="max-w-[600px] lg:max-w-[400px]">
          <img class="max-w-[100%] lg:rounded-tr-xl rounded-bl-xl lg:rounded-bl-none rounded-br-xl" src="img/airplane3.jpg" alt="fleet-image" />
        </div>
      </div>

      <div class="flex px-8 py-6 justify-center items-center lg:items-stretch flex-col lg:flex-row">
        <div class="max-w-[600px] lg:max-w-[400px] rounded-tl-xl rounded-tr-xl p-6 lg:rounded-tr-none lg:rounded-bl-xl bg-blue-500">
          <h1 class="text-2xl text-white">Frota Terrestre</h1>
          <h1 class="text-white">Já quando se trata de nossa frota terrestre, temos uma frota completa com 3.000 caminhões baú com capacidade próxima a 16 toneladas, 6.000 furgões com capacidade de 1.2 toneladas e mais de 20.000 motocicletas.</h1>
        </div>
        <div class="max-w-[600px] lg:max-w-[400px]">
          <img class="max-w-[100%] lg:rounded-tr-xl rounded-bl-xl lg:rounded-bl-none rounded-br-xl" src="img/truck.jpg" alt="fleet-image" />
        </div>
      </div>

    </div>
  </section>

  <!-- Map -->
  <section>
    <div class="flex items-center bg-gray-700 p-4 flex-col gap-3">
      <h1 class="text-white text-center text-[1.4rem] lg:text-[2.25rem]">Entregas para todo o Brasil! Com uma unidade física por estado</h1>
      <img class="max-w-[60%] md:max-w-[450px]" src="img/brazil.png" alt="" />
    </div>
  </section>

  <!-- Reviews -->
  <div class="flex flex-col bg-gray-100 items-center">
    <h1 class="text-[2.25rem] text-center pt-3 text-gray-700">Avaliações dos Clientes</h1>
    
    <div class="flex flex-col lg:flex-row py-6 px-8 justify-center ">
      <div class="max-w-[600px] lg:max-w-[400px] lg:rounded-tr-none rounded-tl-xl rounded-tr-xl rounded-bl-none lg:rounded-bl-xl p-6 bg-blue-500">
        <h1 class="text-white text-2xl">Roberto</h1>
        <h1 class="text-white">Adorei, fiquei bem feliz com a entrega. Superou as minhas expectativas. Rápido e de qualidade!</h1>
      </div>
      <div>
        <div class="max-w-[600px] lg:max-w-[400px]">
          <img class="max-w-[100%] lg:rounded-tr-xl rounded-bl-xl lg:rounded-bl-none rounded-br-xl" src="img/encomenda2.jpg" alt="customer-img" />
        </div>
      </div>
    </div>
    
    <div class="flex flex-col lg:flex-row py-6 px-8 justify-center ">
      <div class="max-w-[600px] lg:max-w-[400px] lg:rounded-tr-none rounded-tl-xl rounded-tr-xl rounded-bl-none lg:rounded-bl-xl p-6 bg-blue-500">
        <h1 class="text-white text-2xl">Julia</h1>
        <h1 class="text-white">Realmente um serviço de excelência. O produto veio no prazo estipulado, bem embalado.</h1>
      </div>
      <div>
        <div class="max-w-[600px] lg:max-w-[400px]">
          <img class="max-w-[100%] lg:rounded-tr-xl rounded-bl-xl lg:rounded-bl-none rounded-br-xl" src="img/encomenda3.jpg" alt="customer-img" />
        </div>
      </div>
    </div>
    
    <div class="flex flex-col lg:flex-row py-6 px-8 justify-center ">
      <div class="max-w-[600px] lg:max-w-[400px] lg:rounded-tr-none rounded-tl-xl rounded-tr-xl rounded-bl-none lg:rounded-bl-xl p-6 bg-blue-500">
        <h1 class="text-white text-2xl">Paulo</h1>
        <h1 class="text-white">Finalmente uma entrega no mesmo dia, ajuda bastante com minha ansiedade! Agora não preciso esperar semanas para ler meus livros... Nota 10!</h1>
      </div>
      <div>
        <div class="max-w-[600px] lg:max-w-[400px]">
          <img class="max-w-[100%] lg:rounded-tr-xl rounded-bl-xl lg:rounded-bl-none rounded-br-xl" src="img/encomenda4.jpg" alt="customer-img" />
        </div>
      </div>
    </div> 

  </div>

</div>

